@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4 navbar-dark bg-gray-900">
            <UserNav />
        </div>

        <article class="content px-4 m-auto" style="max-width: 1000px">
            @Body
        </article>
    </main>
</div>
