@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4 navbar-dark bg-gray-900">
            <UserNav />
        </div>

        <article class="content px-4 m-auto" style="max-width: 1000px">
            <ErrorBoundary>
                <ChildContent>
                    @Body
                </ChildContent>
                <ErrorContent >
                    <div class="alert alert-danger" role="alert">
                        <h4 class="alert-heading">
                            <span class="oi oi-x me-1" aria-hidden="true"></span> Error
                        </h4>
                        An internal error has occurred. Please try again later.
                    </div>
                </ErrorContent>
            </ErrorBoundary>
        </article>
    </main>
</div>
