@inject NavigationManager Navigation
@inject IdentityAuthenticationStateProvider AuthStateProvider

<AuthorizeView>
    <Authorized>
        <a href="/profile">@(context.User.Identity?.Name)</a>
        <button class="nav-link btn btn-link" @onclick="BeginSignOut">Log out</button>
    </Authorized>
    <NotAuthorized>
        <a href="/register">Register</a>
        <a href="/login">Log in</a>
    </NotAuthorized>
</AuthorizeView>

@code {
    private async Task BeginSignOut()
    {
        await AuthStateProvider.LogOutAsync();
        Navigation.NavigateTo("/login");
    }
}
